<o-form-layout-manager attr="Charger" mode="dialog" title="CHARGER">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ChargerTable" 
            service="Charger" 
            entity="Charger" 
            title="CHARGER"
            keys="id"
            columns="id;power_kW;level" 
            header-actions="R;D"
            visible-columns="id;power_kW;level"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #power_kW attr="power_kW" title="power_kW" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-table-column #level attr="level" title="level" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>